.main-content {
    margin: 0;
    padding: 0;

    justify-content: center;
    align-items: center;
}

#title-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: calc(100vh - var(--navbar-height) - var(--footer-height));
}

img.fixed-size {
    object-fit: contain;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    width: 80%;
    max-height: 50vh;
    border-radius: 15px;
}

#title {
    margin: 0.83em 0;
    font-size: 150px;
    position: absolute;
    top: 0;
    left: 50%;

    width: 100%;
    text-align: center;

    color: white;

    transform: translate(-50%, 0);
}

#sub-title {
    margin: 0.83em 0;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    text-align: center;

    color: white;

    transform: translate(-50%, 0);
}

.widget {
    overflow: hidden;
    
    margin: 0 0 100px 0;

    display: flex;
    flex-direction: column;

    height: min-content;

    max-width: 900px;

    width: 100%;

    transition: .2s;
}

.dark-mode .widget {
    /* background: linear-gradient(-50deg, #fff3, #fff5, #fff3); */
    background-color: var(--dark-primary-background-color);
}

.light-mode .widget {
    /* background: linear-gradient(-50deg, #0002, #0001, #0002); */
    background-color: var(--light-primary-background-color);
}

img.fit-margin {
    margin: 0 auto;
    max-width: 900px;
    border-radius: 15px;
    max-height: 70vh;

    object-fit: cover;
    object-position: center;
    width: 100%;
    height: calc(100vh - var(--navbar-height) - var(--footer-height));
}

h1, h2, h3, h4, h5, h6, p {
    margin: .83em 0px;
    width: calc(100% - 32px);
}

@media screen and (max-width: 900px) {
    h1, h2, h3, h4, h5, h6, p {
        margin: .83em 15px;
    }

    img.fit-margin {
        border-radius: 0;
        max-height: none;
        height: calc(100vh - var(--navbar-height) - var(--footer-height));
    }
}
@media screen and (max-width: 600px) {
    img.fit-margin {
        height: 50vh;
    }
}

.button-panel {
    position: relative;
    bottom: 0;
    /* display: grid; */
    display: flex;
    justify-content: center;
    width: 100%;

    /* grid-template-columns: repeat(auto-fit, minmax(calc(20px), 1fr));
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr; */
}

.button-panel a {
    flex-grow: 1;

    display: block;
    text-align: center;
    margin: 10px;
    padding: 14px 16px;
    text-decoration: none;
    
    border-radius: 15px;

    font-weight: 600;

    transition: .35s;

    max-width: 200px;
}

.dark-mode .button-panel a {
    color: var(--dark-primary-color);
    background-color: var(--dark-accent-color);
}

.light-mode .button-panel a {
    color: var(--dark-primary-color);
    background-color: var(--light-accent-color);
}

.dark-mode .button-panel a:hover, .dark-mode .button-panel a:focus {
    background-color: var(--dark-accent-color-hover);
}

.light-mode .button-panel a:hover, .light-mode .button-panel a:focus {
    background-color: var(--light-accent-color-hover);
}

/* Rearrange content if screen is too small */
@media screen and (max-width: 500px) {
    .widget p {
        text-align: justify;
        /* text-justify: distribute; */
    }

    .widget h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }

    #title {
        font-size: 100px;
    }

    #sub-title {
        font-size: 70px;
    }
}

.widget iframe {
    width: 100%;
    margin: auto;
    max-width: 900px;
    aspect-ratio: 16/9;
    border-radius: 15px;
}
@media screen and (max-width: 900px) {
    .widget iframe {
        border-radius: 0;
    }
}

.sponsor-image {
    max-height: 30vh;
    width: fit-content;
    margin: 30px auto;
    
    border-radius: 5px;
}

.dark-mode .sponsor-image {
    border: 10px solid var(--dark-accent-color);
}

.light-mode .sponsor-image {
    border: 10px solid var(--light-accent-color);
}