.main-content ul {
    margin: 0;
}

.main-content ul li a {
    text-decoration: none;
}

.dark-mode .main-content ul li a {
    color: lightblue;
}

.light-mode .main-content ul li a {
    color: var(--light-accent-color);
}

#sign-up {
    margin: 0;
    color: white;
    border-radius: 15px;
    padding: 15px 40px;
    text-decoration: none;
}

.dark-mode #sign-up {
    background-color: var(--dark-accent-color);
}

.light-mode #sign-up {
    background-color: var(--light-accent-color);
}


.dark-mode #sign-up:hover {
    background-color: var(--dark-accent-color-hover);
}

.light-mode #sign-up:hover {
    background-color: var(--light-accent-color-hover);
}

@media screen and (max-width: 500px) {
    #sign-up {
        margin: 0 auto;
    }
}