.main-content {
    max-width: 1000px;
    margin: auto;
}

form {
    margin: 0 auto;
    width: 100%;
    /* max-width: 1000px; */
    display: flex;
    flex-direction: column;
    padding: 0;
}

input {
    margin: 10px 0px;
    border: none;
    border-radius: 4px;
    padding: 4px;
}

textarea {
    font-family: inherit;

    margin: 10px 0px;
    border: none;
    border-radius: 4px;
    padding: 4px;
    resize: vertical;
    /* min-width: 370px; */
    min-height: 50px;
}

form div {
    position: relative;
    bottom: 0;
    /* display: grid; */
    display: flex;
    justify-content: center;
    width: 100%;

    /* grid-template-columns: repeat(auto-fit, minmax(calc(20px), 1fr));
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr; */
}

form button {
    flex-grow: 1;

    display: block;
    text-align: center;
    margin: 10px;
    padding: 14px 16px;
    text-decoration: none;
    
    border-radius: 15px;

    font-weight: 600;

    transition: .35s;

    max-width: 200px;
}

.dark-mode form button {
    color: var(--dark-primary-color);
    background-color: var(--dark-accent-color);
}

.light-mode form button {
    color: var(--light-primary-color);
    background-color: var(--light-accent-color);
}

.dark-mode form button:hover,
.dark-mode form button:focus {
    background-color: var(--dark-accent-color-hover);
}

.light-mode form button:hover,
.light-mode form button:focus {
    background-color: var(--light-accent-color-hover);
}

.map {
    margin: 0 0 50px 0;
    border-radius: 15px;
    max-width:100%;
    list-style:none;
    transition: none;
    overflow:hidden;
    height:500px;
}